
.nav-container {
    position: fixed;
    max-height: calc(100% - 32px - env(safe-area-inset-bottom));
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    padding: 0px 24px;
    background-color: #fff;
    z-index: 10000;
}

.navbar-right-items {
    margin-left: auto;
  }

.header__nav__links-logins {
    display: flex;
}

.navbar-menu {
    display: flex;
}

.navbar-menu ul {
    list-style: none;
}

.navbar-menu li  a {
    text-decoration: none;
    color: rgb(26, 26, 27) !important;
    font-weight: 400;
}

.navbar-menu ul li {
    text-align: center;
    position: relative;
  }

  .navbar-menu li a:hover {
    color: rgba(79, 202, 198, 0.9) !important;
    font-weight: lighter;
    font-size: 1.01em;
  }
  

.navbar-menu li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #237b11;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-menu li  {
  position: relative;
  
}

.navbar-menu li i {
  position: absolute;
  font-size: .6em;
  top: 60%;
  transform: translateY(-50%);
  margin-left: .2em;
  left: 100%;

}

.navbar-menu li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  box-sizing: content-box;
  width: max-content;
  height: max-content;
  padding: .35em;
  left: 0;
}

.navbar-menu ul li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  margin: 0;
  padding-left: 0;
}

.dropdown-menu ul {
  left: 0;
  width: 12em;
  padding: .15em 0;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgb(36 62 78 / 8%);
  border-radius: .4em;
}


.dropdown-menu li {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  padding: .55em;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  transform: translateX(0%);
}



  .header__nav__links-logins {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
  }

  .links-logins {
    display: inline-block;
    padding: .45em 1.1em;
    text-align: center;
    text-decoration: none;
    border-radius: 1em;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding-right: 1em;

}

.button-signin {
    background-color: #e1e1e1;
    color: rgb(0, 0, 0);
  }
  
.button-signup {
    background-color: #231a1a;
    margin-left: 1em;
    font-weight: bolder;
  }

  #center.search__masterhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    flex: .75;
    margin: 0 0 0 20%;
}

 #search_area.search__masterhead {
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
}

#search-form.searchbox {
  height: 40px;
  position: relative;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
}

#container.searchbox > [slot=search-input] {
  width: 100%;
}

#search-input.searchbox-spt input {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-family: Roboto,Noto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 100%;
  text-align: inherit;
  width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  flex-basis: 1e-9px;
}

#container.searchbox_input {
  position: relative;
  align-items: center;
  background-color: rgb(253, 252, 252);
  border: 1px solid rgb(161, 158, 158);
  border-right: none;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px rgb(214, 212, 212);
  caret-color: rgb(24, 23, 23);
  color: rgb(24, 23, 23);
  padding: 0px 4px 0px 16px;
  margin-left: 32px;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
}

input {
  outline: none;
}

#search-icon-legacy.searchbox {
  border: 1px solid rgb(24, 23, 23);
  background-color: rgb(161, 158, 158);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
}

button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: gray;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1px 6px;
}

.tooltip {
  width: 24px;
  height: 24px;
  color: rgb(39, 38, 38);
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.profile-icon {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #f1f1f1;
  overflow: hidden;
  text-align: center;
  margin: 0.2em 0 .2em 0;
  background-color: #237b11;
}

.profile-content button {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.profile-icon button span {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.3em;
  text-transform: uppercase;
}